<%-include('partials/header') %>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%-include('partials/navbar') %>
    <div class="container">
      <h1 class="mt-5">Crear Nueva Publicación</h1>
        <form id="form-post" action="/home/create" method="POST" class="mt-4">
            <div class="mb-3">
              <label for="title" class="form-label">Título</label>
              <input type="text" class="form-control" id="titulo" name="title" required>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Contenido</label>
              <textarea class="form-control" id="contenido" name="content" rows="4" required></textarea>
            </div>
            <div class="mb-3">
              <label for="imageUrl" class="form-label">URL de la Imagen:</label>
              <input type="text" class="form-control" id="img_url" name="imageUrl">
            </div>
            <div class="mb-3">
                <label for="createdAt" class="form-label">Fecha de Creación</label>
                <input type="date" class="form-control" id="fecha" name="createdAt" required>
              </div>
            <button type="submit" class="btn btn-primary">Crear Publicación</button>
          </form>
          <a class="btn btn-secondary mt-4" href="/">Volver a la Lista de Publicaciones</a>
        </div>
       
  <script src="/js/create.js"></script>
<%-include('partials/footer') %>
