
  <%-include('partials/header') %>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%-include('partials/navbar') %>
  
    <div class="container">
      <h1 class="text-center py-3">Lista de Publicaciones</h1>
      <main class="gap-2 d-flex flex-column align-items-center" id="lista-publicaciones">
      
      </main>
  </div>

  
    <script src="/js/home.js"></script>
    <%-include('partials/footer') %>