
  <%-include('partials/header') %>
    <%-include('partials/navbar') %>

    <div class="container">
      <h1 class="text-center py-3">Lista de Publicaciones</h1>
      <main id="lista-publicaciones">
      
      </main>
  
      <a class="btn btn-primary mt-4" href="/create">Crear Nueva Publicación</a>
  </div>

  
    <script src="/js/homeprueba.js"></script>
    <%-include('partials/footer') %>